/* width */
::-webkit-scrollbar {
  width: 5px;
  border-radius: 1em;
}

/* Track */
::-webkit-scrollbar-track {
  display: hidden;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5em;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.navLink-btn {
  text-decoration: none;
  color: white;
  background: none;
  margin-right: 0.5em;
  margin-left: 0.5em;
  padding: 5px 10px;
  border: white solid 1px;
}
.navLink-btn:hover {
  cursor: pointer;
}